$gray-color: #FAFAFA;

table {
    border-collapse: separate;
    background-color: transparent;
    border-spacing: 0;
    margin-bottom: 3px;

    &, & td, & th {
        border: 1px solid $gray-color;
    }
}

th {
    background-color: $gray-color;
    cursor: pointer;
    height: 40px;
    min-width: 60px;

    & span {
        margin: 4px;
    }
}

td {
    padding: 1em;
    background: #fff;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table-wrapper {
    overflow-x: scroll;
}

td:first-child, th:first-child {
    box-shadow: 0 0.3rem 0.5em rgba(0, 0, 0, 0.4);
    position: sticky;
    left: 0;
    z-index: 3;
}

td:last-child, th:last-child {
    box-shadow: 0 0.3rem 0.5em rgba(0, 0, 0, 0.4);
    position: sticky;
    right: 0;
    z-index: 3;
}

table tr:hover {
    background-color: #50DFFC;
}

th:last-child {
    white-space: nowrap;
    text-align: center;
    align-content: center;
}

.table-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 25px;
    border-radius: 6px;
    background: #fff;
    overflow-x: hidden;
}

.table-footer {
    align-self: center;
}
